/* CSS files add styling rules to your content */

body {
    font-family: 'Raleway', sans-serif;

    background-color: white;
}


h1 {
  font-style: normal;
  color: black;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.redbox {
  background-color: red;
  padding: 50px; 
}
.greenbox {
  background-color: green; 
}
.bluebox {
  background-color: blue;
}
.yellowbox {
  background-color: yellow;
  border: 3px solid black;
}
.purplebox {font-family: monospace;
  background-color: purple;
  
}
.pinkbox {
  background-color: pink;
  border: 3px solid red;
}

.blackbox {
  background-color: black;
  border: 3px solid white;
}

.whitebox {
  background-color: white;
  border: none;
}
.threecol {
  width: 33.33%
}
.twocol {
  width: 50%
}
.onecol {
  width: 100%
}

a { 
  text-decoration: none; 
    color: blue;
}

a:hover {
  color:red;
}

.center {
  text-align: center;
}

.center2 {
      text-align: center;
    }

ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: show;
      background-color: #333;
    }

    li {
      float: right;
    }

    li a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: "Heebo", sans-serif;
    }

    li a:hover {
      background-color: none;
    }

    .active {
      background-color: none;
    }

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

* {
        box-sizing: border-box;
      }

      .row {
        display: -ms-flexbox; /* IE 10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE 10 */
        flex-wrap: wrap;
        padding: 0 4px;
      }

      /* Create two equal columns that sits next to each other */
      .column {
        -ms-flex: 50%; /* IE 10 */
        flex: 50%;
        padding: 0 4px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }


    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

/* index.html header and image grid */
* {
  box-sizing: border-box;
  
}

.column {
  float: middle;
  width: 33.33%;
  padding: 10px;
  
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  text-align: center;
  padding: 32px;
}

div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

